*{
    margin: 0px;
    padding: 0px;
}

body,.navigation{
    font-family: Work Sans;

}
/* navigation */
.navigation{
height: 80px;
    background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

    display: flex;
    justify-content: space-between;
    align-items: center;
padding: 10px 150px;
cursor: pointer;
}
.nav-title{
    text-align: center;
font-family: Work Sans;
font-size: 40px;
font-weight: 700;
}
.nav-title span{
    color: #FF42A5;
}

.logo-name{
    display: flex;
    justify-content: space-between;
align-items: center;
gap: 15px;
}

.logo-name img{
    width: 80px;
height: 35px;
}

.nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3C354F;
text-align: center;
font-size: 18px;
font-weight: 500;
}

.nav-items li{
    list-style: none;
    display: inline-block;
    padding-right: 15px;

}

.follow-on{

    width: 200px;
    height: 35px;
    border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
padding: 10px;
font-weight: 400;
font-size: 18px;
display: flex;
justify-content: space-evenly;
align-items: center;
}

.follow-on h5{
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

/* FONT PAGE */
    .banner-font{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .font-ban-goat{
        background-image: url('../images/Group\ 14.png');
        background-repeat: no-repeat;
  background-size: 600px 600px;
       width: 50%;
       height: 600px;
        display:flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
text-align: left;
padding-right: 80px;
    }
.font-ban-pic{
    max-width: 50%;
    height: 600px;
    margin-right: 150px;
}

.play-like{
    color: #0B0223;
text-align: left;
font-family: Work Sans;
font-size: 40px;
font-weight: 600;
text-transform: uppercase;
}

.goat{
    text-align: left;
font-family: Work Sans;
font-size: 70px;
font-weight: 800;
text-transform: uppercase;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;}

.para-goat{
  color: #534C64;
  text-align: left;
  font-size: 18px;
font-weight: 500;
line-height: normal;

}
.font-btn{
    padding: 30px;
   
}
.font-btn > .btn-1{
    padding: 21px 40px;
    gap: 10px;
    border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
color: #FFF;
font-size: 20px;
font-weight: 600;
margin-right: 20px;
}

.font-btn > .btn-2{
    color: #FFF;
font-size: 20px;
font-style: normal;
font-weight: 600;
padding: 21px 40px;
gap: 10px;
border-radius: 48px;
background: #4EC5F7;
}

/* 2nd page know more */

.nd2-page{
height: 600px;
background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);;
display: flex;
justify-content: space-around;
align-items: center;
padding: 70px 150px;
}

.btn-know{
    color: #FFF;
font-size: 20px;
font-weight: 600;
text-transform: uppercase;
padding: 21px 40px;
gap: 10px;
border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
margin-left: 310px;

}
.know-more{
    padding-right: 150px;
}
.know-more-pic img{
    width: 700px;
    height: 400px;
    padding-right: 20px;

}

.know-more h2{
    text-align: right;
font-size: 48px;
font-weight: 700;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
padding-bottom: 20px;
}

.know-more .know-1{
    color: #534C64;
text-align: right;
font-size: 18px;
font-weight: 400;
padding-bottom: 20px;
}
.know-2{
    padding-top: 20px;
    color: #534C64;
text-align: right;
font-size: 24px;
font-weight: 500;
width: 520px;
}
.know-2 span{
    color: #534C64;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
}
/* cards */
.card-text p{
    color: #534C64;
text-align: center;

font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.card-text h3{
    font-size: 40px;
    text-align: center;
    font-weight: 600;
}
.card-text h3 > span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  

}
.cards{
    margin: 50px 150px;
}
.pic-cards img{
    width: 230px;
    height: 280px;
}
.pic-cards{
display: grid;
grid-template-columns: repeat(4,1fr);
column-gap: 20px;
}



/* overlap */


.overlap-write{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 150px;
}
.overlap-write >p{
    width: 200px;
    color: #534C64;
text-align: right;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.overlap-write h2{
    color: #0B0223;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 60px;
}
.overlap-write h2 >span{
    text-align: right;

font-size: 40px;
font-style: normal;
font-weight: 700;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.overlap-pic > .man-horse{
    width: 550px;
height: 600px;
border-radius: 8px;
margin-left: 100px;
}
.cat{
    width: 250px;
height: 300px;
border-radius: 8px;
position: relative;
bottom: 280px;
}

.overlap-text{
    padding-bottom: 150px;
}

/* button */
.buttons{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 100px 150px;
    row-gap: 10px;
}
.buttons > button{
    width: 200px;
    height: 60px;
    border-radius: 50px;
background: #FFF;
font-size: 16px;
font-weight: 600;
line-height: normal;
border: none;

}
.buttons > button >img{
    width: 50px;
height: 50px;
flex-shrink: 0;
border-radius: 50px;
align-items: center;
}
.arcade:hover{
    color: #F948B2;
    border:2px solid #FF42A5;
    cursor: pointer;

}
.footer{
    height: 600px;
    background: #0B0223;
}
.footer-title{
    text-align: center;
font-size: 40px;
font-weight: 600;
color: #FFF;
}
.footer-title > span{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.ft{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40%;
    padding-top: 100px;
}
.footer-list ul{
    display: inline-flex;
    padding: 10px;
    align-items: flex-start;
    gap: 60px;
    list-style: none;
    color: #FFF;
margin-left: 22%;
padding-top: 50px;
}
.footer-list-2 ul{
    display: inline-flex;
padding: 10px;
align-items: flex-start;
gap: 50px;
list-style: none;
color: #FFFFFF;
margin-left: 25%;
padding-top: 50px;
font-size: 15px;

color: rgba(255, 255, 255, 0.60);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;

}

.footer-para{
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-top: 50px;
}
.Footer-icons{
    display:flex;
    justify-content: center;
    align-items: center;
gap: 20px;
padding-top: 50px;
}
    /* responsive */
    @media screen and (max-width:576px){
        .navigation,.nav-items{
            flex-direction: column;
            gap: 20px;
            background:none ;
        }
        
    }